###like-
<Button onclick="callFunctions()" id="btnh1" class="like"><i class="fas fa-heart"></i></Button>
###
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emotion Based Music Recommendation System</title>
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
	   <script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="anonymous"></script>        
	</head>

<body>
<!--<img src=background1.jpg>-->
<audio id="audio">
<source id="shit" src="{{albu[0]["path"]}}">
</audio>
</head>
<body>

    <nav>
        <ul>
            <h1>Emotion Based Music Recommendation System</h1>
            <li><form action="/" method="GET"><a href="/">Home</a></form></li>
			
            <li><a href="">About</a></li>
				{% if session.logged_in==NULL %}
				<li><a href="/register" class="btn btn-primary btn-lg">REGISTER</a><li>
				<li><a href="/login" class="btn btn-primary btn-lg">LOGIN</a><li>
				{% endif %}
				{% if session.logged_in!=NULL %}
				<li>{{session.username}}<li>
				<li><a href="/logout" class="btn btn-primary btn-lg">Logout</a><li>
				
				{% endif %}
        </ul>
    </nav>
<div class="flash_msg">
			{% include 'includes/_messages.html' %}
		{% block body %}{% endblock %}
</div>
<div id="mySidenav" class="split left">
  <div class="centered">
			<button class="q" onclick="update1()">{{albu[0]["song_name"]}}</button>
			<button class="q" onclick="update2()">{{albu[1]["song_name"]}}</button>
			<button class="q"  onclick="update3()">{{albu[2]["song_name"]}}</button>
			<button class="q"  onclick="update4()">{{albu[3]["song_name"]}}</button>
			<button class="q"  onclick="update5()">{{albu[4]["song_name"]}}</button>
			<button class="q"  onclick="update6()">{{albu[5]["song_name"]}}</button>
			<button class="q"  onclick="update7()">{{albu[6]["song_name"]}}</button>
			<button class="q"  onclick="update8()">{{albu[7]["song_name"]}}</button>
			<button class="q"  onclick="update9()">{{albu[8]["song_name"]}}</button>
			<button class="q"  onclick="update10()">{{albu[9]["song_name"]}}</button>
			<button class="q"  onclick="update11()">Saudi - X</button>
			<button class="q"  onclick="update12()">Seasons</button>
  </div>

</div>
<div class="split right">
  <div class="centered">
<div class="audio-player">
        <div class="cover-art">
          <img src="static/images/demo/gallery/bpanther.png" alt="">

        </div>
        <div class="info">
            <h2>Angry</h2>
            <h3 id="name">{{albu[0]["song_name"]}}</h3>
            <p id="timeleft">00:00</p>
            <p id="s_id">{{albu[0]['id']}}</p>
            <div class="progressbar_slide">
                <div class="progressbar_range"></div>
            </div>
        </div>
        <div class="controls">
            <div class="controls_plays">
                <svg id="prev_btn" viewBox="0 0 24.5 23.6" onclick="prev()">
                    <polygon points="0,11.8 13.5,0 13.5,10.7 24.5,0 24.5,23.6 13.5,12.9 13.5,23.6 "/>
                </svg>
                <svg id="plays_btn" viewBox="0 0 24.5 30.9">
                    <g id="play_btn">
                        <path d="M0,30.9L0,0l24.5,15.4L0,30.9z"/>
                    </g>
                    <g id="pause_btn">
                        <rect x="0" y="0" width="8.2" height="30.9"/>
                        <rect x="16.2" y="0" width="8.2" height="30.9"/>
                    </g>
                </svg>
                <svg id="next_btn" viewBox="0 0 24.5 23.6" onclick="next()">
                    <polygon points="25,11.8 11.5,0 11.5,10.7 0.5,0 0.5,23.6 11.5,12.9 11.5,23.6 "/>
                </svg>
				  <Button onclick="callFunctions()" id="btnh1" class="like"><i class="fas fa-heart"></i></Button>
					<script>
                var str=""
                var str1=""
                var str2=""
                var presses=""
                var x=""

					function callFunctions(){
      					Toggle1();
      					change();
   					}
                  function change() {
                            str1='/save_playlist/'+document.getElementById("s_id").innerHTML;
                            console.log(str1);
                            window.open(str1,"_self");
                  }
                </script>

            </div>

            </div>
        </div>
    </div>
</div>
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>

var btnvar1 = document.getElementById('btnh1');

       function Toggle1(){
                if (btnvar1.style.color =="red") {
                    btnvar1.style.color = "grey"
                }
                else{
                    btnvar1.style.color = "red"
                }
       }

    var song =1;


    function update1(){
        song=1;
        songid={{albu[0]["id"]}}
        $("#play_btn").hide();
        $("#pause_btn").show();
        document.getElementById('shit').src="{{albu[0]["path"]}}";
        document.getElementById("audio").load();
        document.getElementById("audio").play();
        document.getElementById("s_id").innerHTML=songid;
        document.getElementById('name').innerHTML="{{albu[0]["song_name"]}}";
    }

            function update2(){
              song=2;
              songid={{albu[1]["id"]}}
              $("#play_btn").hide();
              $("#pause_btn").show();
              nameprev = "{{albu[0]["song_name"]}}";
              namenext = "{{albu[2]["song_name"]}}";
              document.getElementById('shit').src="{{albu[1]["path"]}}";
              document.getElementById("audio").load();
              document.getElementById("audio").play();
              document.getElementById("s_id").innerHTML=songid;
              document.getElementById('name').innerHTML="{{albu[1]["song_name"]}}";
          }

            function update3(){
              song=3;
              songid={{albu[2]["id"]}}
              $("#play_btn").hide();
              $("#pause_btn").show();
              nameprev = "{{albu[1]["song_name"]}}";
              namenext = "{{albu[3]["song_name"]}}";
              document.getElementById('shit').src="{{albu[2]["path"]}}";
              document.getElementById("audio").load();
              document.getElementById("audio").play();
              document.getElementById("s_id").innerHTML=songid;
              document.getElementById('name').innerHTML="{{albu[2]["song_name"]}}";
          }
            function update4(){
              song=4;
              songid={{albu[3]["id"]}}
              $("#play_btn").hide();
              $("#pause_btn").show();
              namenext = "{{albu[2]["song_name"]}}";
              nameprev = "{{albu[4]["song_name"]}}";
              document.getElementById('shit').src="{{albu[3]["path"]}}";
              document.getElementById("audio").load();
              document.getElementById("audio").play();
              document.getElementById("s_id").innerHTML=songid;
              document.getElementById('name').innerHTML="{{albu[3]["song_name"]}}";
          }

            function update5(){
              song=5;
              songid={{albu[4]["id"]}}
              $("#play_btn").hide();
              $("#pause_btn").show();
              nameprev = "{{albu[3]["song_name"]}}";
              namenext = "{{albu[5]["song_name"]}}";
              document.getElementById('shit').src="{{albu[4]["path"]}}";
              document.getElementById("audio").load();
              document.getElementById("audio").play();
              document.getElementById("s_id").innerHTML=songid;
              document.getElementById('name').innerHTML="{{albu[4]["song_name"]}}";
          }

            function update6(){
              song=6;
              songid={{albu[5]["id"]}}
              $("#play_btn").hide();
              $("#pause_btn").show();
              nameprev = "{{albu[4]["song_name"]}}";
              namenext = "{{albu[6]["song_name"]}}";
              document.getElementById('shit').src="{{albu[5]["path"]}}";
              document.getElementById("audio").load();
              document.getElementById("audio").play();
              document.getElementById("s_id").innerHTML=songid;
              document.getElementById('name').innerHTML="{{albu[5]["song_name"]}}";
          }

            function update7(){
              song=7;
              songid={{albu[6]["id"]}}
              $("#play_btn").hide();
              $("#pause_btn").show();
              nameprev = "{{albu[5]["song_name"]}}";
              namenext = "{{albu[7]["song_name"]}}";
              document.getElementById('shit').src="{{albu[6]["path"]}}";
              document.getElementById("audio").load();
              document.getElementById("audio").play();
              document.getElementById("s_id").innerHTML=songid;
              document.getElementById('name').innerHTML="{{albu[6]["song_name"]}}";
          }

            function update8(){
              song=8;
              songid={{albu[7]["id"]}}
              $("#play_btn").hide();
              $("#pause_btn").show();
              document.getElementById('shit').src="{{albu[7]["path"]}}";
              nameprev = "So It Goes";
              namenext = "Gateway Car";
              document.getElementById("audio").load();
              document.getElementById("audio").play();
              document.getElementById("s_id").innerHTML=songid;
              document.getElementById('name').innerHTML="Pray For Me";
          }

            function update9(){
              song=9;
              songid={{albu[8]["id"]}}
              $("#play_btn").hide();
              $("#pause_btn").show();
              nameprev = "Gorgeous";
              namenext = "Did Something Bad";
              document.getElementById('shit').src="{{albu[8]["path"]}}";
              document.getElementById("audio").load();
              document.getElementById("audio").play();
              document.getElementById("s_id").innerHTML=songid;
              document.getElementById('name').innerHTML="Redemption Interlude";
          }

            function update10(){
              song=10;
              songid={{albu[9]["id"]}}
              $("#play_btn").hide();
              $("#pause_btn").show();
              nameprev = "Happy New Year";
              namenext = "Did Something Bad";
              document.getElementById('shit').src="{{albu[4]["path"]}}";
              document.getElementById("audio").load();
              document.getElementById("audio").play();
              document.getElementById("s_id").innerHTML=songid;
              document.getElementById('name').innerHTML="Redemption";
          }

                    function update11(){
                      song=11;
                      songid=10;
                      $("#play_btn").hide();
                      $("#pause_btn").show();
                      nameprev = "Happy New Year";
                      namenext = "Did Something Bad";
                        document.getElementById('shit').src="{{albu[3]["path"]}}";
                        document.getElementById("audio").load();
                        document.getElementById("audio").play();
                        document.getElementById("s_id").innerHTML=songid;
                        document.getElementById('name').innerHTML="Saudi - X";
                    }

                    function update12(){
                      song=12;
                      songid=11;
                      $("#play_btn").hide();
                      $("#pause_btn").show();
                      nameprev = "Happy New Year";
                      namenext = "Did Something Bad";
                        document.getElementById('shit').src="{{albu[2]["path"]}}"
                        document.getElementById('name').innerHTML="Seasons";
                        document.getElementById("audio").load();
                        document.getElementById("audio").play();
                        document.getElementById("s_id").innerHTML=songid;
                    }


                    function next(){
                      if(song+1===13) song=12;
                      song=((song+1)%13+13)%13;
                      $("#play_btn").hide();
                      $("#pause_btn").show();
                      console.log(song);
                      update="update"+song+"()";
                      eval(update);
                    }
                    function prev(){
                      if(song-1===0) song=2;
                      song=((song-1)%13+13)%13;
                      console.log(song);
                      update="update"+song+"()";
                      eval(update);
                    }
                    

                                        function myFunction() {
                                            document.getElementById("myDropdown").classList.toggle("show");
                                        }
                    window.onclick = function(event) {
                      if (!event.target.matches('.dropbtn')) {

                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                          var openDropdown = dropdowns[i];
                          if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                          }
                        }
                      }
                    }       </script>
                            <script  src="/static/index.js"></script>
                            <script>
                    function openNav() {
                        document.getElementById("mySidenav").style.width = "250px";
                    }

                    function addinplaylist()
                    {
                          cur=mysql.connection.cursor()
                          cur.execute("SELECT * FROM songs_list WHERE album LIKE 'Jus%'")
                          albu7=cur.fetchall()
                    }

                    function closeNav() {
                        document.getElementById("mySidenav").style.width = "0";

                    }
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}

                    </script>
                    </body>
                    </html>